<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
</head>
<body>
<h2 align="center">Kuis {% if number %} {{number}} {% endif %}</h2>
    <div class="container">
        {% if user %}
                    <p>Hai <b>{{ user }}</b></p>
        {% endif %}
        <hr/>
        {% for data in data %}
            <h3>{{ data.pertanyaan }}</h3>
        {% if request.method == 'POST' and data.jawaban != request.form['jawaban'] %}
            <span style="background-color: red">Jawaban yang benar adalah : {{ data.jawaban }}</span>
        {% endif %}
        {% endfor %}
        <hr/>

        {% for b in range(5) %}
            <br>
        {% endfor %}


        <form method="post" action="/">
            <div class="col-xs-4">
                    <input type="range" name="answer" min="1" max="10000" value="50" onchange="rangePrimary.value=value">Jawaban Anda :
                    <output id="rangePrimary">50</output>
                    <input type="text" name="jawaban" value={% if data %} {{data.jawaban}} {% endif %}>
            </div>
            <div class="col-xs-2">
                <button type="submit" class="btn btn-default">Periksa Hasil</button>
            </div>
        </form>

        <a href="logout"><button type="submit" name="logout" value="logout" class="btn btn-default">Keluar</button></a>
        <a href="result"><button type="submit" name="logout" value="logout" class="btn btn-default">Akhiri Kuis</button></a>

    </div>

</body>
</html>